<% provide :title, t("word_creation") %>
<h2><%= t "create_new_word" %></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @word] do |f| %>
    <%= render "shared/error_messages", object: f.object %>
      <%= f.collection_select :category_id, @categories, :id,:name %>
        <%= f.label :content %>
        <%= f.text_field :content, class: "form-control" %>
        <%= f.label :meanings %>
        <div id ="area_child">
        <%= f.fields_for :meanings do |builder| %>
          <div class="child">
            <td><%= builder.text_field :content, class: "form-control" %></td>
            <%= f.label :is_correct %>
            <%= builder.check_box :is_correct, class: "check_but" %><br>
          </div>
        <% end %>
        </div>
        <%= link_to t("add_more"), "javascript:void(0)", class: "add_mean" %>
      <%= f.submit t("create"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "words", "data-turbolinks-track": true %>
