<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("elearning"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to t("home"), root_path %></li>
            <% if current_user.is_admin? %>
              <li><%= link_to t("user"), admin_users_path %></li>
              <li><%= link_to t("categories"), admin_categories_path %></li>
              <li><%= link_to t("words"), admin_words_path %></li>
            <% else %>
              <li><%= link_to t("user"), users_path %></li>
              <li><%= link_to t("words_list"), words_path %></li>
              <li><%= link_to t("lesson"), categories_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t "account" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("word_learned"), words_path %></li>
                <li><%= link_to t("profile"), current_user %></li>
                <li><%= link_to t("settings"),
                  edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("log_out"), logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
          <li><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
